<h3> Painel Duplicatas</h3>
<div class="container-fluid" >
  <div class="row">
    <div class="col-3" >
      <div class="buttons">
        <%= link_to 'Registrar nova duplicata', new_billing_path , class: "btn btn-success"%>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-danger d-grid gap-2" role="alert" id="expireds">
        <h4 class="alert-heading">Vencidas: <%= @expireds.count %></h4>
        <% @expireds.take(5).each do |expired| %>
          <%= link_to billing_path(expired), class:"btn btn-outline-secondary p-0" do %>
            <p class="my-0">
              <small><strong><%= expired.identification %></strong>
              <%= l(expired.expire) %> </small>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-warning d-grid gap-2" role="alert">
        <h4 class="alert-heading">Para Hoje: <%= @to_expire.count %></h4>
        <% @to_expire.each do |to_expire| %>
          <%= link_to billing_path(to_expire), class:"btn btn-outline-secondary p-0" do %>
            <p class="my-0">
              <small><strong><%= to_expire.identification %></strong>
              <%= l(to_expire.expire) %> </small>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-success d-grid gap-2" role="alert">
        <h4 class="alert-heading">Ultimas Registradas</h4>
        <% @latests.each do |latest| %>
          <%= link_to billing_path(latest), class:"btn btn-outline-secondary p-0" do %>
            <p class="my-0">
              <small><strong><%= latest.identification %></strong>
              <%= l(latest.expire) %> </small>
            </p>
          <% end %>
        <% end %>
      </div>
  </div>

</div>