<%= render 'shared/errors', model: @billing %>
<h1>Registrar duplicata</h1>
<div class="row">
  <div class="col-md-6">
    <%= form_with model: @billing, local: true do |form| %>
      <div class="mb-3">
        <%= form.label :emission, class: "form-label" %>
        <%= form.date_field :emission, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :expire, class: "form-label" %>
        <%= form.date_field :expire, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :amount, class: "form-label" %>
        <%= form.number_field :amount, min: 1, step: 1, placeholder: "Insira o valor sem virgula", class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :identification, class: "form-label" %>
        <%= form.text_field :identification, placeholder: "Identificaçao da fatura", class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :category, class: "form-label" %>
        <%= form.select :category, Billing.categories.keys.map { |c| [Billing.humanized_category_name(c), c] }, {}, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>