<h1> Detalhes da fatura:</h1>
<h3><%= @billing.identification %></h3>

<p><strong>Status:</strong> <%= @billing.humanized_status %></p>
<p><strong>Emissão:</strong> <%= l(@billing.emission) %></p>
<p><strong>Vencimento:</strong> <%= l(@billing.expire) %></p>
<p><strong>Valor:</strong> <%= number_to_currency(@billing.amount/100.0) %></p>
<p><strong>Categoria:</strong> <%= Billing.humanized_category_name(@billing.category) %></p>

<div>
  <%= link_to 'Editar', edit_billing_path(@billing) %>
</div>